<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>giftTag</key>
		<string></string>
		<key>convertCondition</key>
		<string>公司认证、个人认证</string>
		<key>remark</key>
		<string>6-30号上午10:00开抢！（兑换礼品会在15个工作日之内发货，请您注意签收！签收前注意包装完好，先验货后签收，如有问题请及时联系吉屋网客服，超过24小时概不处理！图片仅供参考，所有礼品以实物为准，最终解释权归属吉屋网）</string>
		<key>bigPath</key>
		<string></string>
		<key>residueNumber</key>
		<string>1</string>
		<key>isDraw</key>
		<string>0</string>
		<key>convertetime</key>
		<string>2016-07-01 00:00:00</string>
		<key>isjfConvert</key>
		<string>0</string>
		<key>type</key>
		<string>1</string>
		<key>drawNumber</key>
		<string>-2</string>
		<key>convertstime</key>
		<string>2016-06-30 00:00:00</string>
		<key>convertDiscount</key>
		<string>1</string>
		<key>drawJf</key>
		<string>0</string>
		<key>convertprice</key>
		<string>8500</string>
		<key>name</key>
		<string>车轮迷你音响</string>
		<key>gid</key>
		<string>247</string>
		<key>path</key>
		<string>http://fximgs7.jiwu.com/agent/2016/01/19/25865_m.png</string>
		<key>totalNumber</key>
		<string>5</string>
		<key>discountprice</key>
		<string>0</string>
		<key>tagColor</key>
		<string></string>
	</dict>
	<dict>
		<key>giftTag</key>
		<string></string>
		<key>convertCondition</key>
		<string>公司认证、个人认证</string>
		<key>remark</key>
		<string>6-30号上午10:00开抢！（兑换礼品会在15个工作日之内发货，请您注意签收！签收前注意包装完好，先验货后签收，如有问题请及时联系吉屋网客服，超过24小时概不处理！图片仅供参考，所有礼品以实物为准，最终解释权归属吉屋网）</string>
		<key>bigPath</key>
		<string></string>
		<key>residueNumber</key>
		<string>2</string>
		<key>isDraw</key>
		<string>0</string>
		<key>convertetime</key>
		<string>2016-07-01 00:00:00</string>
		<key>isjfConvert</key>
		<string>0</string>
		<key>type</key>
		<string>1</string>
		<key>drawNumber</key>
		<string>-2</string>
		<key>convertstime</key>
		<string>2016-06-30 00:00:00</string>
		<key>convertDiscount</key>
		<string>1</string>
		<key>drawJf</key>
		<string>0</string>
		<key>convertprice</key>
		<string>4500</string>
		<key>name</key>
		<string>养生茶</string>
		<key>gid</key>
		<string>239</string>
		<key>path</key>
		<string>http://fximgs7.jiwu.com/agent/2016/01/14/25119_m.png</string>
		<key>totalNumber</key>
		<string>11</string>
		<key>discountprice</key>
		<string>0</string>
		<key>tagColor</key>
		<string></string>
	</dict>
	<dict>
		<key>giftTag</key>
		<string></string>
		<key>convertCondition</key>
		<string>公司认证、个人认证</string>
		<key>remark</key>
		<string>6-30号上午10:00开抢！（兑换礼品会在15个工作日之内发货，请您注意签收！签收前注意包装完好，先验货后签收，如有问题请及时联系吉屋网客服，超过24小时概不处理！图片仅供参考，所有礼品以实物为准，最终解释权归属吉屋网）</string>
		<key>bigPath</key>
		<string></string>
		<key>residueNumber</key>
		<string>0</string>
		<key>isDraw</key>
		<string>0</string>
		<key>convertetime</key>
		<string>2016-07-01 00:00:00</string>
		<key>isjfConvert</key>
		<string>0</string>
		<key>type</key>
		<string>1</string>
		<key>drawNumber</key>
		<string>-2</string>
		<key>convertstime</key>
		<string>2016-06-30 00:00:00</string>
		<key>convertDiscount</key>
		<string>1</string>
		<key>drawJf</key>
		<string>0</string>
		<key>convertprice</key>
		<string>8500</string>
		<key>name</key>
		<string>龙猫毛绒抱枕</string>
		<key>gid</key>
		<string>247</string>
		<key>path</key>
		<string>http://fximgs7.jiwu.com/agent/2016/03/04/29431_m.png</string>
		<key>totalNumber</key>
		<string>6</string>
		<key>discountprice</key>
		<string>0</string>
		<key>tagColor</key>
		<string></string>
	</dict>
	<dict>
		<key>giftTag</key>
		<string></string>
		<key>convertCondition</key>
		<string>公司认证、个人认证</string>
		<key>remark</key>
		<string>6-30号上午10:00开抢！（兑换礼品会在15个工作日之内发货，请您注意签收！签收前注意包装完好，先验货后签收，如有问题请及时联系吉屋网客服，超过24小时概不处理！图片仅供参考，所有礼品以实物为准，最终解释权归属吉屋网）</string>
		<key>bigPath</key>
		<string></string>
		<key>residueNumber</key>
		<string>1</string>
		<key>isDraw</key>
		<string>0</string>
		<key>convertetime</key>
		<string>2016-07-01 00:00:00</string>
		<key>isjfConvert</key>
		<string>0</string>
		<key>type</key>
		<string>1</string>
		<key>drawNumber</key>
		<string>-2</string>
		<key>convertstime</key>
		<string>2016-06-30 00:00:00</string>
		<key>convertDiscount</key>
		<string>1</string>
		<key>drawJf</key>
		<string>0</string>
		<key>convertprice</key>
		<string>4899</string>
		<key>name</key>
		<string>新疆四星和田大红枣</string>
		<key>gid</key>
		<string>295</string>
		<key>path</key>
		<string>http://fximgs7.jiwu.com/agent/2016/03/04/29443_m.png</string>
		<key>totalNumber</key>
		<string>9</string>
		<key>discountprice</key>
		<string>0</string>
		<key>tagColor</key>
		<string></string>
	</dict>
	<dict>
		<key>giftTag</key>
		<string></string>
		<key>convertCondition</key>
		<string>公司认证、个人认证</string>
		<key>remark</key>
		<string>6-30号上午10:00开抢！（兑换礼品会在15个工作日之内发货，请您注意签收！签收前注意包装完好，先验货后签收，如有问题请及时联系吉屋网客服，超过24小时概不处理！图片仅供参考，所有礼品以实物为准，最终解释权归属吉屋网）</string>
		<key>bigPath</key>
		<string></string>
		<key>residueNumber</key>
		<string>0</string>
		<key>isDraw</key>
		<string>0</string>
		<key>convertetime</key>
		<string>2016-07-01 00:00:00</string>
		<key>isjfConvert</key>
		<string>0</string>
		<key>type</key>
		<string>1</string>
		<key>drawNumber</key>
		<string>-2</string>
		<key>convertstime</key>
		<string>2016-06-30 00:00:00</string>
		<key>convertDiscount</key>
		<string>1</string>
		<key>drawJf</key>
		<string>0</string>
		<key>convertprice</key>
		<string>8800</string>
		<key>name</key>
		<string>小马手机支架</string>
		<key>gid</key>
		<string>177</string>
		<key>path</key>
		<string>http://fximgs7.jiwu.com/agent/2015/12/29/22187_m.png</string>
		<key>totalNumber</key>
		<string>4</string>
		<key>discountprice</key>
		<string>0</string>
		<key>tagColor</key>
		<string></string>
	</dict>
</array>
</plist>
