<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>春风轻起，明媚阳光，行走中邂逅美丽的风景</string>
		<key>icon</key>
		<string>zhangmeier.png</string>
		<key>name</key>
		<string>张妹纸</string>
		<key>position</key>
		<string>项目经理</string>
		<key>time</key>
		<string>07-08 14:00</string>
		<key>from</key>
		<string>项目名</string>
		<key>text</key>
		<string>离高速公路出入口不到两公里，海南东环高速铁路建成通车后仅25分钟即可到达三亚凤凰机场</string>
		<key>images</key>
		<array>
			<string>movie_xr.png</string>
			<string>movie_jf.png</string>
			<string>movie_ygbh.png</string>
			<string>movie_zghhr.png</string>
			<string>people_caoying.png</string>
			<string>people_linjunjie.png</string>
			<string>people_liudehua.png</string>
			<string>people_tanyonglin.png</string>
			<string>people_wangxinling.png</string>
			<string>people_zengxiaoxian.png</string>
		</array>
		<key>praise</key>
		<array>
			<string>张三</string>
			<string>李四</string>
			<string>王五</string>
			<string>赵六</string>
			<string>孙七</string>
			<string>周八</string>
			<string>吴九</string>
			<string>郑十</string>
		</array>
		<key>commentPeople</key>
		<array>
			<string>张妹</string>
			<string>后会无期</string>
			<string>班靖</string>
			<string>钟老师</string>
		</array>
		<key>comment</key>
		<array>
			<string>哎呀，不错额</string>
			<string>duang的一下，就变成了六分之一</string>
			<string>你数学是语文老师教的吗</string>
			<string>你傻啊</string>
		</array>
		<key>transmit</key>
		<string>18</string>
	</dict>
	<dict>
		<key>title</key>
		<string>春风轻起，明媚阳光，行走中邂逅美丽的风景</string>
		<key>icon</key>
		<string>zhangmeier.png</string>
		<key>name</key>
		<string>张妹纸</string>
		<key>position</key>
		<string>项目经理</string>
		<key>time</key>
		<string>07-08 14:00</string>
		<key>from</key>
		<string>项目名</string>
		<key>text</key>
		<string>离高速公路出入口不到两公里，海南东环高速铁路建成通车后仅25分钟即可到达三亚凤凰机场</string>
		<key>images</key>
		<array>
			<string>movie_jf.png</string>
			<string>movie_xr.png</string>
			<string>movie_ygbh.png</string>
			<string>people_wangxinling.png</string>
		</array>
		<key>praise</key>
		<array>
			<string>张三</string>
			<string>李四</string>
			<string>王五</string>
			<string>赵六</string>
			<string>孙七</string>
			<string>周八</string>
			<string>吴九</string>
			<string>郑十</string>
		</array>
		<key>commentPeople</key>
		<array>
			<string>张妹</string>
			<string>后会无期</string>
			<string>班靖</string>
			<string>钟老师</string>
		</array>
		<key>comment</key>
		<array>
			<string>哎呀，不错额</string>
			<string>duang的一下，就变成了六分之一</string>
			<string>你数学是语文老师教的吗</string>
			<string>班靖啊，班靖</string>
		</array>
		<key>transmit</key>
		<string>18</string>
	</dict>
	<dict>
		<key>title</key>
		<string>春风轻起，明媚阳光，行走中邂逅美丽的风景</string>
		<key>icon</key>
		<string>zhangmeier.png</string>
		<key>name</key>
		<string>张妹纸</string>
		<key>position</key>
		<string>项目经理</string>
		<key>time</key>
		<string>07-08 14:00</string>
		<key>from</key>
		<string>项目名</string>
		<key>text</key>
		<string>离高速公路出入口不到两公里，海南东环高速铁路建成通车后仅25分钟即可到达三亚凤凰机场</string>
		<key>images</key>
		<array/>
		<key>praise</key>
		<array>
			<string>张三</string>
			<string>李四</string>
			<string>王五</string>
			<string>赵六</string>
			<string>孙七</string>
			<string>周八</string>
			<string>吴九</string>
			<string>郑十</string>
		</array>
		<key>commentPeople</key>
		<array>
			<string>张妹</string>
			<string>后会无期</string>
			<string>小朋友</string>
			<string>班靖</string>
		</array>
		<key>comment</key>
		<array>
			<string>哎呀，不错额</string>
			<string>duang的一下，就变成了六分之一</string>
			<string>把这几本书看完了</string>
			<string>看你大爷</string>
		</array>
		<key>transmit</key>
		<string>18</string>
	</dict>
</array>
</plist>
